{% block footer %}
<footer class="footer">
  <div class="container">
    <span class="text-muted">Aplicación creada por <a href="mailto:bastian@raion.cl">Bastian Vergara</a> utilizando el framework Symfony. <a class="md-5" target="_blank" href="http://raion.cl">Raion Soft</a> </span>
  </div>
</footer>
{% endblock %}
