{% extends 'default/base.html.twig' %}

{% block content %}
    <h1>Error en el sitio</h1>

    <p>
        Hubo un error no identificado al intentar ingresar al sitio. Favor contacta al administrador o <a href="{{ path('welcome') }}">vuelve al sitio principal</a>.
    </p>
{% endblock %}
